{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} {% endblock %}

{% block main %}

<div class="col-12 text-center">

      {{ form_start(formModifierParticipant) }}

    <h2 class="text-center text-primary">Mon profil</h2>

        <img src="{{ asset('uploads/' ~ app.user.photoFilename) }}" width="130">
          
    <div class="container | my-4">

            <div class="row justify-content-md-center">

                <div class="col-sm-2 text-dark">
                    <p> {{ form_label(formModifierParticipant.pseudo) }}   </p>
                </div>
                <div class="col-sm-3">
                    <p>{{ form_widget(formModifierParticipant.pseudo) }}</p>
                </div>
            </div>


    <div class="container | my-4">

            <div class="row justify-content-md-center">

                <div class="col-sm-2 text-dark">
                    <p>{{ form_label(formModifierParticipant.nom) }} </p>
                </div>
                <div class="col-sm-3">
                    <p>{{ form_widget(formModifierParticipant.nom) }} </p>
                </div>
            </div>

            <div class="row justify-content-md-center">

                <div class="col-sm-2 text-dark">
                    <p>{{ form_label(formModifierParticipant.prenom) }} </p>
                </div>
                <div class="col-sm-3">
                    <p>{{ form_widget(formModifierParticipant.prenom) }} </p>
                </div>
            </div>

            <div class="row justify-content-md-center">

                <div class="col-sm-2 text-dark">
                    <p> {{ form_label(formModifierParticipant.telephone) }}</p>
                </div>
                <div class="col-sm-3">
                    <p>{{ form_widget(formModifierParticipant.telephone) }} </p>
                </div>
            </div>

            <div class="row justify-content-md-center">

                <div class="col-sm-2 text-dark">
                    <p>{{ form_label(formModifierParticipant.mail) }}</p>
                </div>
                <div class="col-sm-3">
                     {{ form_widget(formModifierParticipant.mail) }}</p>
                </div>
            </div>

            <div class="row justify-content-md-center">

            <div class="row justify-content-md-center">

                <div class="col-sm-2 text-dark">
                    <p> {{ form_label(formModifierParticipant.password.first) }}</p>
                </div>
                <div class="col-sm-3">
                    <p> {{form_widget(formModifierParticipant.password.first)}}</p>
                    <p>{{ form_errors(formModifierParticipant.password.first) }}</p>
                    {# pour hasher le password #}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('formModifierParticipant.password') }}">
                </div>
            </div>

            <div class="row justify-content-md-center">

                <div class="col-sm-2 text-dark">

                    <p>{{ form_label(formModifierParticipant.password.second ) }}</p>
                </div>
                <div class="col-sm-3">
                    <p>{{ form_widget(formModifierParticipant.password.second) }} </p>
                    <p>{{ form_errors(formModifierParticipant.password.second) }}</p>
                </div>
            </div>

            <div class="row justify-content-md-center">

                <div class="col-sm-2 text-dark">
                    <p>{{ form_label(formModifierParticipant.campus) }}</p>
                </div>
                <div class="col-sm-3">
                    <p>{{ form_widget(formModifierParticipant.campus) }}  </p>
                </div>
            </div>

            <div class="row justify-content-md-center">

                <div class="col-sm-2 text-dark">
                    <p>{{ form_label(formModifierParticipant.photoFilename) }}</p>
                </div>
                <div class="col-sm-3">
                    <p>{{ form_widget(formModifierParticipant.photoFilename) }}</p>
                    <p>{{ form_errors(formModifierParticipant.photoFilename) }}</p>
                </div>

            </div>

            <div>
                {# le bouton enregistrer qui envoie les données en BDD, et qui doit renvoyer vers la page d'accueil #}
                <button type="submit" method="POST" class="btn btn-primary text-light" href={{ path('accueil') }}>Enregistrer</button>
                 &nbsp &nbsp &nbsp &nbsp
                {# le bouton retour, redirection page d'accueil sans modifier les informations du profil #}
                <a href="{{ path('accueil')}}" class="btn btn-secondary text-light">Retour</a>
            </div>

        {{ form_end(formModifierParticipant) }}
    </div>
            
</div>



{% endblock %}
