{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} {% endblock %}

{% block main %}

<div class="col-12">
    <div class = "col-4">{{ list_participant.pseudo }}</div>

 <h3 class="btn-warning">{{list_participant . description}}</h3>

 <h4 class="btn-secondary">{{list_participant.}} </h4>

 <h4 class="btn-info">{{ tablewish.cate.name  }} </h4>




</div>



{% endblock %}
