{% extends 'base.html.twig' %}

{% block title %}Hello SortieController!{% endblock %}

{% block main %}

<div class="container"> 

<div>

    <!-- Affichage de la date du jour -->
    <strong>{{date_jour}}</strong>
    <br>
    <!-- Affichage du participant connecté -->
    <strong>{{participant_connecte.prenom}} {{participant_connecte.nom}}</strong> <!-- temporaire -->
</div>

{# <div class="row | my-5">
    {{ form_start(form) }}
    <h3>Filtrer les sorties</h3>
    <div class="col-sm-2">
        <p>
            {{form_label(form.campus)}}
            {{form_widget(form.campus)}}
        </p>
        <p>
            {{form_label(form.nom)}}
            {{form_widget(form.nom)}}
        </p>
        <p>
            {{form_label(form.dateMin)}}
            {{form_widget(form.dateMin)}}
            {{form_label(form.dateMax)}}
            {{form_widget(form.dateMax)}}
        </p>
    </div>
    <div class="col-sm-5">
        <p>
            {{form_widget(form.isOrganisateur)}}
            {{form_label(form.isOrganisateur)}}
        </p>
        <p>
            {{form_widget(form.isInscrit)}}
            {{form_label(form.isInscrit)}}
        </p>
        <p>
            {{form_widget(form.isNonInscrit)}}
            {{form_label(form.isNonInscrit)}}
        </p>
        <p>
            {{form_widget(form.isPassee)}}
            {{form_label(form.isPassee)}}
        </p>
    </div>
    <div class="col-sm-5">
        <button class="btn btn-primary">
        Rechercher
        </button>
    </div>


    {{ form_end(form) }}

</div> #} #}


<div class = "row | my-4">

        <div class = "col-sm-4">
            
                <p>
                    {{form_label(form.campus)}}
                </p> 

                <p>
                    {{form_label(form.nom)}}
                </p>

                <p>
                    {{form_label(form.dateMin)}}

                </p>

                 <p>
                    {{form_label(form.dateMax)}}
                </p>

                <p>
                    {{form_label(form.isOrganisateur)}}
                </p>
                
                <p>
                    {{form_label(form.isInscrit)}}
                </p>
                
                <p>
                    {{form_label(form.isNonInscrit)}}
                </p>

                <p>
                    {{form_label(form.isPassee)}}
                </p> 

        </div>


        <div class="col-sm-5">

                <p>
                {{ form_widget(form.campus)}} 
                </p>

                <p>
                {{ form_widget(form.nom)}} 
                </p>

               <p>
                    {{form_widget(form.dateMin)}}

                </p>

                 <p>
                    {{form_widget(form.dateMax)}}
                </p>

                <p>
                    {{form_widget(form.isOrganisateur)}}
                </p>
                
                <p>
                    {{form_widget(form.isInscrit)}}
                </p>
                
                <p>
                    {{form_widget(form.isNonInscrit)}}
                </p>

                <p>
                    {{form_widget(form.isPassee)}}
                </p> 
        </div>

        <div>

        <button class="btn btn-primary">Rechercher</button>

        </div>

    </div>

    {% for flashMessage in app.session.flashbag.get('notice') %}
    <div class="alert alert-success">
    {{ flashMessage }}
    </div> 
    {% endfor %}

</div>


<!-- Tableau de sortie -->
    <!-- TODO : rajouter une barre de scroll avec Bootstrap -> OK Binh l'a fait -->

  <div style="height: 500px; overflow: scroll;">   


  <table class="table table-bordered table-striped">
    
    <thead class="fixed">
        <tr>
            <th>Numero</th>
            <th>Nom de la sortie</th>
            <th>Date de la sortie</th>
            <th>Clôture</th>
            <th>Inscrits/places</th>
            <th>Etat</th>
            <th>Inscrit</th>
            <th>Organisateur</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for s in sorties_liste %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{s.nom}}</td>
            <td>{{s.dateHeureDebut|date('Y-m-d h:i')}}</td>
            <td>{{s.dateLimiteInscription|date('Y-m-d')}}</td>
            {% set size = s.participants|length %}
            <td>{{size}}/{{s.nbInscriptionMax}}</td>
            <td>{{s.etat.libelle}}</td>
            {% if participant_connecte in s.participants %}
                <td>X</td>
                {% else %}
                <td></td>
            {% endif %}
            <td>
            <a href={{path('profil',{'id' : s.organisateur.id })}} class="">
            {{s.organisateur.prenom}} {{s.organisateur.nom}}
            </a>

            </td> <!-- TODO : Ajouter un lien vers profil participant -->
            <td>
                <!-- Si organisateur = connecte -->
                {% if participant_connecte == s.organisateur %} <!-- TODO : mettre à jour tous les path vers les bonnes méthodes -->
                    <!-- Si etat = cree alors lien Modifier et lien = Publier -->
                    {% if s.etat.libelle == "Créée" %}
                        <a href={{ path('modifier', {'id':s.id} )}}>Modifier</a>
                        <a href="{{ path('accueil',{id:s.id})}}">Publier</a>
                    <!-- Sinon lien Afficher -->
                    {% else %}
                        <a href="{{ path('afficher_sortie',{id:s.id})}}">Afficher</a>
                        <!-- et Si dateDebut < now lien Annuler -->
                        {% if s.dateHeureDebut > date_jour %}
                            <a href={{ path('annuler_sortir',{'id': s.id} )}}>Annuler</a>
                        {% endif %}
                    {% endif %}
                <!-- Sinon -->
                {% else %}
                    <!-- lien Afficher -->
                    <a href="{{ path('afficher_sortie',{id:s.id})}}">Afficher</a>
                    <!-- Si (etat = Ouverte ou etat = Cloturee) et inscrit = true et dateDebut < now alors lien Se désister-->
                    {% if (s.etat.libelle == "Ouverte" or s.etat.libelle == "Cloturée") and
                     (participant_connecte in s.participants) and 
                     (s.dateHeureDebut > date_jour) %}
                        <a href={{ path('desister', {'id':s.id} )}}>Se désister</a>
                    <!-- Sinon, Si etat = Ouverte alors lien S'inscrire (sinon rien)-->
                    {% elseif s.etat.libelle == "Ouverte" %}
                        <a href={{ path('inscrire', {'id':s.id } )}}>S'inscrire</a>
                    {% endif %}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>

<!-- Bouton création de sortie -->
<a href= {{path('creer_sortie')}} class="btn btn-secondary">Créer une sortie</a>


{% endblock %}
