{% extends 'base.html.twig' %}

{% block title %}{{parent() }}{% endblock %}

{% block main %}
<div class="container"> 

    <h2 class="text-center text-primary">Afficher une sortie</h2>


    <div class="row | my-5">

        <div class="col-sm-3">
            <p>Nom de la sortie : </p>
            <p>Date et heure de la sortie : </p>
            <p>Date limite d'inscription : </p>
            <p>Nombre de places : </p>
            <p>Durée : </p>
            <p>Description et infos : </p>

        </div>
        <div class="col-sm-4 text-dark ">
            <p>{{sortie.nom}}</p>
            <p>{{sortie.dateHeureDebut|date('Y-m-d h:i')}}</p>
            <p>{{sortie.dateLimiteInscription|date('Y-m-d')}}</p>
                {% set size = sortie.participants|length %}
            <p>{{size}}/{{sortie.nbInscriptionMax}}</p>
            <p>{{sortie.duree}} minutes</p>
            <p>{{sortie.infosSortie}}</p>
        </div>
        <div class="col-sm-2">
            <p>Campus : </p>
            <p>Lieu : </p>
            <p>Rue : </p>
            <p>Ville : </p>
            <p>Code postal : </p>
            <p>Latitude : </p>
            <p>Longitude : </p>

        </div>
        <div class="col-sm-3 text-dark">
            <p>{{sortie.campus.nom}}</p>
            <p>{{sortie.lieu.nom}}</p>
            <p>{{sortie.lieu.rue}}</p>
            <p>{{sortie.lieu.ville.nom}}</p>
            <p>{{sortie.lieu.ville.codePostal}}</p>
            <p>{{sortie.lieu.latitude}}</p>
            <p>{{sortie.lieu.longitude}}</p>

        </div>

    </div>

</div>

<h4>Liste des participants inscrits</h4>

<div style="height: 300px; width:600px; overflow: scroll;"> 

    <h4>Liste des participants</h4>

    <table class="table table-bordered table-striped">

    <thead class="table-primary text-center">
        <tr>
            <th>No</th>
            <th>Pseudo</th>
            <th>Nom</th>
        </tr>
    </thead>

    <tbody>
        {% for p in sortie.participants %}
        <tr>
            <td>{{loop.index}}</td>
            <td>
                {{p.Pseudo}}
            </td>
            <td>
                {{p.prenom}} {{p.nom}}
            </td>
        </tr>
        {% endfor %}
    </tbody>

    </table>

</div>

</div>
{% endblock %}