{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} {% endblock %}

{% block main %}

<div class="text-center">

    <h2 class="text-center">Annuler une sortie</h2>

        <label>Nom de la sortie : </label><h4 class="text-center">{{list_participant . prenom}}</h4>

        <label>Date de la sortie : </label><h4 class="text-center">{{ list_participant.nom }} </h4>

        <label>Campus : </label><h4 class="text-center">{{ list_participant.telephone   }} </h4>

        <label>Lieu :</label><h4 class="text-center">{{ list_participant . mail}}</h4>

        <label>Motif :</label><textarea style="width= 50px ; height=30px" placeholder:"Ecrirer votre motif de anuller"></textarea >

        <a href= {{path('accueil')}} class="btn btn-secondary">Retour</a>

        <a href= {{path('accueil')}} class="btn btn-secondary">Retour</a>
</div>



{% endblock %}
