{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} {% endblock %}

{% block main %}

    <h2 class="text-center text-primary">Modifier une sortie</h2>
    
{{ form_start(formular)}} 
<div class="container">  

    <div class="row | my-5">

        

        <div class="col-sm-2">
            
                <p>
                    {{form_label(formular.nom)}}
                </p> 

                <p>
                    {{form_label(formular.dateHeureDebut)}}
                </p>

                <p>
                    {{form_label(formular.dateLimiteInscription)}}
                </p>

                <p>
                    {{form_label(formular.nbInscriptionMax)}}
                </p>
                
                <p>
                    {{form_label(formular.duree)}}
                </p>
                
                <p>
                    {{form_label(formular.infosSortie)}}
                </p> 

        </div>


        <div class="col-sm-5">

                <p>
                {{ form_widget(formular.nom)}} 
                </p>

                <p>
                {{ form_widget(formular.dateHeureDebut)}} 
                </p>

                <p>
                {{ form_widget(formular.dateLimiteInscription)}} 
                </p>

                <p>
                {{ form_widget(formular.nbInscriptionMax )}} 
                </p>

                <p>
                {{ form_widget(formular.duree)}} 
                </p>

                <p>
                {{ form_widget(formular.infosSortie)}} 
                </p>

        </div>

        <div class="col-sm-2">

                <p>
                {{ form_label(formular.campus)}} 
                </p>

                 <p>
                {{ form_label(formular.lieu)}} 
                </p>

                <p>
                    <label>Rue : </label>
                </p>

                <p>
                <label>Code postal : </label> 
                </p>



        </div>

        <div class="col-sm-2">

                <p>
                {{ form_widget(formular.campus)}} 
                </p>

                 <p>
                {{ form_widget(formular.lieu)}} 
                </p>

                 <p><strong>
                {{ list_sortie.lieu.rue }}
                </strong></p>

                 <p><strong>
                {{ list_sortie.lieu.ville .codePostal }}
                </strong></p>


        </div>

    </div>
</div>

 

    <div class="text-center | my-4">

        <button type="submit" class="btn btn-primary text-light">Enregister</button>
        &nbsp &nbsp
        <a href= {{path('accueil')}} class="btn btn-primary text-light">Publier la sortie</a>
        &nbsp &nbsp
        <a href= {{path('accueil')}} class="btn btn-secondary text-light">Supprimer la sortie</a>
        &nbsp &nbsp
        <a href= {{path('accueil')}} class="btn btn-secondary text-light">Annuler</a>

    </div>

{{ form_end(formular)}}  



{% endblock %}
